<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CharlesBankProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.revature.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ViewAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountServlet</servlet-name>
    <url-pattern>/viewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllServlet</display-name>
    <servlet-name>ShowAllServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllServlet</servlet-name>
    <url-pattern>/showAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUIDServlet</display-name>
    <servlet-name>ShowUIDServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowUIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUIDServlet</servlet-name>
    <url-pattern>/showUIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllAServlet</display-name>
    <servlet-name>ShowAllAServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowAllAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllAServlet</servlet-name>
    <url-pattern>/showAllAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAIDServlet</display-name>
    <servlet-name>ShowAIDServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowAIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAIDServlet</servlet-name>
    <url-pattern>/showAIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAStServlet</display-name>
    <servlet-name>ShowAStServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowAStServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAStServlet</servlet-name>
    <url-pattern>/showAStServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAUServlet</display-name>
    <servlet-name>ShowAUServlet</servlet-name>
    <servlet-class>com.revature.servlets.ShowAUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAUServlet</servlet-name>
    <url-pattern>/showAUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePassServlet</display-name>
    <servlet-name>changePassServlet</servlet-name>
    <servlet-class>com.revature.servlets.changePassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassServlet</servlet-name>
    <url-pattern>/changePassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/createAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpgradeAccountServlet</display-name>
    <servlet-name>UpgradeAccountServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpgradeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpgradeAccountServlet</servlet-name>
    <url-pattern>/upgradeAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactServlet</display-name>
    <servlet-name>TransactServlet</servlet-name>
    <servlet-class>com.revature.servlets.TransactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactServlet</servlet-name>
    <url-pattern>/transactServlet</url-pattern>
  </servlet-mapping>
</web-app>